.container {
    position: relative;
    overflow: hidden;
    padding: 0 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../img/greybackground.jpg);
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    
}

.container:before{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(145, 145, 145);
    transform-origin: right;
    transform: skewY(-5deg);
}

.container:after{
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(145, 145, 145);
    transform-origin: left;
    transform: skewY(-5deg);
}

.container h1 {
   position: absolute;
   top: 18%;
   padding: 1%;
   border: 1px solid #fff;
   text-transform: uppercase;
   font-size: 120%;
}

/*------------------------------*/     
/*----------- Cards -----------*/
/*------------------------------*/


.cards {
    position: absolute;
    top: 40%;
    box-sizing: border-box;
    margin-left: 2%;
    transform: scale(1);
    opacity: 0.9;
    text-decoration: none !important;
}

.card {
    width: 320px;
    height: 260px;
    margin: 0 35px;
   
}

.cin-media {
    height: 200px;
}

.cinema {
    &:hover {
        transform: scale(1.1);
        transition: transform 0.5s, opacity 0.1s;
        opacity: 1;
    }
}

.covid-media {
    height:  200px;
}

.covid{
    &:hover {
        transform: scale(1.1);
        transition: transform 0.5s, opacity 0.1s;
        opacity: 1;
    }
}

.clothing-media {
    height: 200px;
}

.clothing{
    &:hover {
        transform: scale(1.1);
        transition: transform 0.5s, opacity 0.1s;
        opacity: 1;
    }
}
